@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin roboto-family {
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

@mixin wrapper{
    max-width:  1080px;
    width: 100%;
    margin: 0 auto;
}