@use "../utils2/variables";

.header__functions{
    display: flex;
    height:28px;
    list-style: none;
    margin-top: 5px;
}
.header__functions{
    list-style: none;
    margin-left: 721px;
    max-width: 350px;
    width: 100%;
}
.functions__item {
    margin-right: 12px;
}
.functions__link {
    text-decoration: none;
    color: #17494D;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    justify-content: space-between;
}
