@use "../utils2/mixins";

.header__wrapper {
    @include mixins.wrapper;
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #C2C8CC;
}  
.page{
    min-height: 100%;
}
