@use "../utils/mixins";
@use "../utils/variables";

.client {
    background-color: #F8F9F9; 
}
.client__wrapper {
    @include mixins.wrapper;
    margin-top: 64px;
    margin-bottom: 94px;
    display: flex;
    min-height: 558.7px;
}
.client__companies {
    width: 457.91px;
    height: 558.7px;
    margin: 64px 99.58px 0px 0px;
}
.client__title {
    font-size: 47px;
    font-weight: 700;
    line-height: 1.19;
    color: #03363D;
    margin: 53.61px 51.42px 20px 8.48px;
}
.client__text {
    margin: 0px 114px 23.94px 8.5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #03363D;
}
.companies__list{
    columns: 3;
    list-style: none;
    width: 489.91px;
    height: 156.59px;
    margin: 0px -16px 36.47px -16px;
}
.companies__icon1{
    padding-top: 24px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
}
.companies__icon2{
    padding-top: 24px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
   
}
.companies__icon3{
    padding-top: 32px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
}
.companies__icon4{
    padding-top: 32px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
}
.companies__icon5{
    padding-top: 30px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
}
.companies__icon6{
    padding-top: 30px;
    &:hover {
        opacity: 0.4;
    }
    &:active{
        opacity: 0.7;
    }
}

.companies__more-link{
    margin: 0px 247.42px 49px 8.48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #03363D;
}
.client__partner{
    margin-top: 100px;
}