@use "../utils/mixins";
@use "../utils/variables";

.gartner {
    background-color: #ffff; 
} 
.gartner__wrapper {
    @include mixins.wrapper;
    height: 196px;
    background-color: #D6EEF2;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
    padding-top: 48px;
}
.gartner__text{
    margin: 0 207px 24px 247px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: #03363D;
}
.gartner__logo{
    margin: 0px 450px 48px 469px;
}