@use "../utils/mixins";

.header__wrapper {
    @include mixins.wrapper;
    background-color: cadetblue;
}  
.header__functions {
    display: flex;
    background-color: brown;
}
.functions__item {
    text-decoration: none;
}