@use "../utils/mixins";
@use "../utils/variables";

.main-feature {
    background-image: url('../img/fon.jpg') ;
    height: 640px;
}
.main-feature__wrapper{
    @include mixins.wrapper;
    padding-top: 112px;
    padding-bottom: 112px;
}
.main-feature__container{
    width: 625px;
    height: 416px;
    padding-top: 68px;
    margin: 0px -11px 0px 466px;
    background-color: #FFFFFF;
}
.main-feature__heading{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.16;
    color: #03363D;
    margin: 0 106px 22px 64px;
}
.main-feature__text{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0px 65px 22px 64px;
}
.main-feature__main-feature-links{
    max-height: 20px;
    height: 100%;
    display: flex;
    margin: 0px 55px 56px 56px;
}
.main-feature__link{
    text-decoration: none;
    border-bottom: solid 2px;
    border-color: #03363D;
    margin-right: 36px;
    margin-left: 7.56px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    color: #03363D;
    transition: 0.4s;
}

.main-feature__link-right {
    text-decoration: none;
    border-bottom: solid 2px;
    border-color: #03363D;
    margin-right: 293px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    color: #03363D;
    transition: 0.4s;
}

.main-feature__link:hover,
.main-feature__link-right:hover{
    border-bottom: solid 3px #000000;
}

.main-feature__link:active,
.main-feature__link-right:active{
    background-color: aqua;
}