@use "../utils/mixins";
@use "../utils/variables";

.others-about-us {
    background-color: #ffff; 
} 
.others-about-us__wrapper {
    @include mixins.wrapper;
    display: flex;
}
.others-about-us__columns{
    list-style: none;
    border-bottom: solid 2px;
    border-color: #7D3D54;
    background-color: #F8F9F9;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 5px;
    margin-right: 5px;
}
.others-about-us__columns2{
    list-style: none;
    width: 350px;
    height: 336px;
    border-bottom: solid 2px;
    border-color: #3D8DAE;
    background-color: #F8F9F9;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 5px;
    margin-right: 5px;
}
.others-about-us__columns3{
    list-style: none;
    width: 350px;
    height: 336px;
    border-bottom: solid 2px;
    border-color: #C38F00;
    background-color: #F8F9F9;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 5px;
    margin-right: 5px;
}

.others-about-us__columns-face1{
    margin-bottom: 3px;
    background-color: yellow;
}


.others-about-us-column__title-left{
    max-width: 141px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    margin: 32px 177px 8px 32px;
    color: #03363D;
}
.others-about-us-column__text-bold-text-left{
    max-width: 222px;
    width: 100%;
    margin: 0px 96px 26px  32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #03363D;
}
.others-about-us-column__text-left {
    max-width: 283px;
    width: 100%;
    margin: 0px 35px 106px 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #17494D;
}
.others-about-us-column__link-left{
    max-width: 87px;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 2px;
    border-color: #03363D;
    margin: 0px 200px 42px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #03363D;
    transition: 0.3s;
}
.others-about-us-column__link-left:hover{
    font-size: 18px;
}
.others-about-us-column__link-left:active{
    font-size: 17px;
}
.others-about-us-column__link-left:visited{
    color: rgb(70, 151, 151);
}

.others-about-us-column__title-middle{
    max-width: 126px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    margin: 32px 192px 8px 32px;
    color: #03363D;
}
.others-about-us-column__text-bold-text-middle{
    max-width: 261px;
    width: 100%;
    margin: 0px 57px 26px  32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #03363D;
}
.others-about-us-column__text-middle {
    max-width: 278px;
    width: 100%;
    margin: 0px 40px 82px 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #17494D;
}
.others-about-us-column__link-middle{
    max-width: 79px;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 2px;
    border-color: #03363D;
    margin: 0px 200px 42px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #03363D;
    transition: 0.3S;
}
.others-about-us-column__link-middle:hover{
    font-size: 18px;
}
.others-about-us-column__link-middle:active{
    font-size: 17px;
}
.others-about-us-column__link-middle:visited{
    color: rgb(70, 151, 151);
}

.others-about-us-column__title-right{
    max-width: 204px;
    width: 100%;
    color: #03363D;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    margin: 32px 114px 12px 32px;
}
.others-about-us-column__text-bold-text-right{
    max-width: 253px;
    width: 100%;
    margin: 0px 65px 22px  32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #03363D;
}
.others-about-us-column__text-right {
    max-width: 264px;
    margin: 0px 54px 26px 32px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #17494D;
}
.others-about-us-column__link-right {
    max-width: 83px;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 2px;
    border-color: #03363D;
    margin: 0px 200px 44px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #03363D;
    transition: 0.3s;
}
.others-about-us-column__link-right:hover{
    font-size: 18px;
}
.others-about-us-column__link-right:active{
    font-size: 17px;
}
.others-about-us-column__link-right:visited{
    color: rgb(70, 151, 151);
}